my1stgit/gitgud.sh
[{"id":"549ad71e.c8dde","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"odd","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":"false"},{"id":"17f8c577.9ae783","type":"modbus rtu out","slave":"1","func":"3","start":"1","regcnt":"10","name":"","serial":"549ad71e.c8dde","x":290,"y":41,"z":"e9b011b9.530858","wires":[]},{"id":"5363d4ef.c169bc","type":"serial in","x":138,"y":122,"z":"e9b011b9.530858","wires":[["e1c9153f.508778"]]},{"id":"989ac3e0.4055b","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":41,"z":"e9b011b9.530858","wires":[["17f8c577.9ae783"]]},{"id":"e1c9153f.508778","type":"debug","name":"","active":true,"console":"false","complete":"false","x":331,"y":122,"z":"e9b011b9.530858","wires":[]}]
